<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_25f62e99a81e48c098cb5ebcdcb39b91 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_25f62e99a81e48c098cb5ebcdcb39b91" ></div>
        
</body>
<script>    
    
            var map_25f62e99a81e48c098cb5ebcdcb39b91 = L.map(
                "map_25f62e99a81e48c098cb5ebcdcb39b91",
                {
                    center: [3.3826111, -76.5419858],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e7ca95f05fe74bc799cc8da3785785af = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_25f62e99a81e48c098cb5ebcdcb39b91);
        
    
            var marker_31b4c1b453e3401db01111a6909be3aa = L.marker(
                [3.650351, -76.4208517],
                {}
            ).addTo(map_25f62e99a81e48c098cb5ebcdcb39b91);
        
    
        var popup_e7a5c34e04f948dbb5ee36ac8eb8e2a1 = L.popup({"maxWidth": "100%"});

        
            var html_531d3d7555dc4ee9b9f968e2e245037f = $(`<div id="html_531d3d7555dc4ee9b9f968e2e245037f" style="width: 100.0%; height: 100.0%;">1042994667</div>`)[0];
            popup_e7a5c34e04f948dbb5ee36ac8eb8e2a1.setContent(html_531d3d7555dc4ee9b9f968e2e245037f);
        

        marker_31b4c1b453e3401db01111a6909be3aa.bindPopup(popup_e7a5c34e04f948dbb5ee36ac8eb8e2a1)
        ;

        
    
    
            var marker_199f798b08714247b2c17d11273e8449 = L.marker(
                [3.487247, -76.3542467],
                {}
            ).addTo(map_25f62e99a81e48c098cb5ebcdcb39b91);
        
    
        var popup_a86ce2d7bbba4274b0cf59b097aefbf5 = L.popup({"maxWidth": "100%"});

        
            var html_8fb18385bf17410cb15cd35d114abffb = $(`<div id="html_8fb18385bf17410cb15cd35d114abffb" style="width: 100.0%; height: 100.0%;">5280796</div>`)[0];
            popup_a86ce2d7bbba4274b0cf59b097aefbf5.setContent(html_8fb18385bf17410cb15cd35d114abffb);
        

        marker_199f798b08714247b2c17d11273e8449.bindPopup(popup_a86ce2d7bbba4274b0cf59b097aefbf5)
        ;

        
    
    
            var marker_cc037523b577477ea38c79847b3acbb0 = L.marker(
                [3.479403, -76.3654877],
                {}
            ).addTo(map_25f62e99a81e48c098cb5ebcdcb39b91);
        
    
        var popup_ca60466a752f4267a369051392fc4a73 = L.popup({"maxWidth": "100%"});

        
            var html_f7859a76fe864b70ab5707a6cb96a585 = $(`<div id="html_f7859a76fe864b70ab5707a6cb96a585" style="width: 100.0%; height: 100.0%;">25435107</div>`)[0];
            popup_ca60466a752f4267a369051392fc4a73.setContent(html_f7859a76fe864b70ab5707a6cb96a585);
        

        marker_cc037523b577477ea38c79847b3acbb0.bindPopup(popup_ca60466a752f4267a369051392fc4a73)
        ;

        
    
    
            var marker_c105d593127749969a717c24f99e0853 = L.marker(
                [3.462573, -76.3233477],
                {}
            ).addTo(map_25f62e99a81e48c098cb5ebcdcb39b91);
        
    
        var popup_1e65a97e2e574526adf03fdb8b116506 = L.popup({"maxWidth": "100%"});

        
            var html_5cf9fb98f9fd4280879da45f9115855b = $(`<div id="html_5cf9fb98f9fd4280879da45f9115855b" style="width: 100.0%; height: 100.0%;">4617356</div>`)[0];
            popup_1e65a97e2e574526adf03fdb8b116506.setContent(html_5cf9fb98f9fd4280879da45f9115855b);
        

        marker_c105d593127749969a717c24f99e0853.bindPopup(popup_1e65a97e2e574526adf03fdb8b116506)
        ;

        
    
</script>