{% extends 'base/basebdua.html' %}
{% block page_content %}
<div class="card-body">
<h1> Importar Usuarios de Maestro Subsidiado </h1>
<form action="" method="POST" role='form' enctype="multipart/form-data">
    {% csrf_token %} 
		<div class="dropdown-divider"></div> 
        <div class="row">
          <div class="form-group col-2">
            <label for="id_fecha">Fecha</label>
              <br>
                {{ form.fecha }}                                    
          </div>	        
          <div class="form-group col-7">
            <label for="id_file_name">Archivo MS</label>
              <br>
                {{ form.file_name }}                                    
          </div>	        
        </div>
        
       {% if dfc %}
       		{{dfc}}
       {% endif %}

       <div class="barra">
       	  <div class="barra_azul" id="barra_estado"></div>
       	  <span></span>
       </div>
              
    <button type="submit" class="btn btn-primary">Importar</button>
</form>
</div>
	
{% endblock page_content %}

{% block js_page %}
<script>
$(function(){
		$("#id_fecha").datetimepicker({
      format:'d/m/Y',
      timepicker:false
  });

});



	$('.custom-file-input').on('change', function(event) {
	    var inputFile = event.currentTarget;
	    $(inputFile).parent()
	        .find('.custom-file-label')
	        .html(inputFile.files[0].name);
	}); 




</script>
{% endblock %}