<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f197f33b781c47d6950bb960578941d6 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_f197f33b781c47d6950bb960578941d6" ></div>
        
</body>
<script>    
    
            var map_f197f33b781c47d6950bb960578941d6 = L.map(
                "map_f197f33b781c47d6950bb960578941d6",
                {
                    center: [3.3826111, -76.5419858],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a90f344446f345eea26d4fcfbcf9b574 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f197f33b781c47d6950bb960578941d6);
        
    
            var marker_4cbd42aaa3174a9792715210bb182600 = L.marker(
                [3.650351, -76.4208517],
                {}
            ).addTo(map_f197f33b781c47d6950bb960578941d6);
        
    
        var popup_befcd11034714b2294fedca78227c601 = L.popup({"maxWidth": "100%"});

        
            var html_f27cb3923e534d7b80f686966bae192e = $(`<div id="html_f27cb3923e534d7b80f686966bae192e" style="width: 100.0%; height: 100.0%;">1042994667</div>`)[0];
            popup_befcd11034714b2294fedca78227c601.setContent(html_f27cb3923e534d7b80f686966bae192e);
        

        marker_4cbd42aaa3174a9792715210bb182600.bindPopup(popup_befcd11034714b2294fedca78227c601)
        ;

        
    
    
            var marker_ba844f41b47d4195805d893ae2e9c0d3 = L.marker(
                [3.487247, -76.3542467],
                {}
            ).addTo(map_f197f33b781c47d6950bb960578941d6);
        
    
        var popup_ed011183097b494690fbe069c8add6e2 = L.popup({"maxWidth": "100%"});

        
            var html_b5ffeb9974a446fb9aba95fb871554df = $(`<div id="html_b5ffeb9974a446fb9aba95fb871554df" style="width: 100.0%; height: 100.0%;">5280796</div>`)[0];
            popup_ed011183097b494690fbe069c8add6e2.setContent(html_b5ffeb9974a446fb9aba95fb871554df);
        

        marker_ba844f41b47d4195805d893ae2e9c0d3.bindPopup(popup_ed011183097b494690fbe069c8add6e2)
        ;

        
    
    
            var marker_cafba9622cfc4e2c9b0ff1ec0fad5f8f = L.marker(
                [3.479403, -76.3654877],
                {}
            ).addTo(map_f197f33b781c47d6950bb960578941d6);
        
    
        var popup_a5c4476f2b15473aa5b05336af17abcd = L.popup({"maxWidth": "100%"});

        
            var html_46212b08cd5a4e8da3be01cf615403c8 = $(`<div id="html_46212b08cd5a4e8da3be01cf615403c8" style="width: 100.0%; height: 100.0%;">25435107</div>`)[0];
            popup_a5c4476f2b15473aa5b05336af17abcd.setContent(html_46212b08cd5a4e8da3be01cf615403c8);
        

        marker_cafba9622cfc4e2c9b0ff1ec0fad5f8f.bindPopup(popup_a5c4476f2b15473aa5b05336af17abcd)
        ;

        
    
    
            var marker_36b3bbce356840c982c002cdc4592705 = L.marker(
                [3.462573, -76.3233477],
                {}
            ).addTo(map_f197f33b781c47d6950bb960578941d6);
        
    
        var popup_b63c4e36c9aa4a4a90cc1eda08867026 = L.popup({"maxWidth": "100%"});

        
            var html_1a84d005a38f47ef9c012d7da58666f4 = $(`<div id="html_1a84d005a38f47ef9c012d7da58666f4" style="width: 100.0%; height: 100.0%;">4617356</div>`)[0];
            popup_b63c4e36c9aa4a4a90cc1eda08867026.setContent(html_1a84d005a38f47ef9c012d7da58666f4);
        

        marker_36b3bbce356840c982c002cdc4592705.bindPopup(popup_b63c4e36c9aa4a4a90cc1eda08867026)
        ;

        
    
</script>