{% extends 'base/basesam.html' %}
{% load static %}
{% block page_content %}
	  <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Propietarios / Rep. Legal</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Acciones:</div>
                      <a class="dropdown-item"  href="{% url 'sam:propietario_new' %}"> <span class="fa fa-calendar-plus"></span>Nuevo</a>                      
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  {% if not obj  %}
                        No hay registro de propietarios / Representante Legal
                  {% endif %}

                <div class="buttons-toolbar">    
                   <a class="dropdown-item" onclick="return abrir_modal('{% url 'sam:propietario_new' %}')"  href="#"> <span class="fa fa-calendar-plus"></span>Nuevo</a> 
                </div>

                  <table data-toggle="table"
                    data-pagination="true"
                    data-search="true"
                    data-show-columns="true"
                    data-toolbar=".buttons-toolbar"
                    data-locale="es-MX"
                    data-show-toggle="true"
                    data-show-fullscreen="true">
                    <thead>                      
                      <th>Identificación</th>
                      <th>Nombres y Apellidos</th> 
                      <th>Teléfono</th>                                            
                      <th>Correo electronico</th>                      
                      <th>Estado</th>
                      <th class="all">Acciones</th> 
                    </thead>  
                    <tbody>
                      {% for item in obj %}
                        <tr>
                            
                            <td> {{item.tipodoc.codigo}}:{{item.nitcc}}</td>
                            <td>{{item}}</td>
                            <td>{{item.telcelular}}</td>                            
                            <td>{{item.correoelectronico}}</td>                                 
                            <td> {{item.estado }} </td>
                            <td>
                              <a href="{% url 'sam:propietario_edit' item.pk %}" class="btn btn-warning btn-circle"><i class="fas fa-cart-plus"></i></a>
                            </td>
                          </tr>                   
                      {% endfor %}
                    </tbody>

                  </table>
                </div>
            </div>
{% endblock page_content %}

{% block js_page %}
 

 {% endblock %}
