{% extends 'base/base.html' %}

{% block page_content %}


<div class="modal-dialog modal-lg">
  <div class="modal-content">
    {% if obj %}
    <form  method='POST' role='form' action = "{% url 'lab:reportelab_edit' obj.pk %}"> 
    {% else %}  
    <form  method='POST' role='form' action = "{% url 'lab:reportelab_new' %}">
    {% endif %}
        {% csrf_token %}
              <div class="col-xl-12 col-md-12 mb-12">
                {% if obj %}
                  <div class="card border-left-warning shadow h-100 py-2">
                {% else %}    
                  <div class="card border-left-success shadow h-100 py-2">
                 {%  endif %}   
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                              {% if obj %} Editar {% else %} Nuevo {% endif %} Reporte de Laboratorio
                          </div>                      
                           <div class="dropdown-divider"></div> 
                            <div class="row">
                              
                                  <div class="form-group col-5">
                                        <label for="id_redlaboratorios">Laboratorio de Reporte</label>
                                        {{form.redlaboratorios}}                               
                                  </div> 

                                  <div class="form-group col-6">
                                        <label for="id_paciente">paciente</label>
                                        {{form.paciente}}                               
                                  </div>                                    
                            </div>
                            <div class="row">
                              <div class="form-group col-4">
                                    <label for="id_tipoexamen">Tipo de Laboratorio</label>
                                    {{form.tipoexamen}}                               
                              </div> 
                              <div class="form-group col-3">
                                        <label for="id_fechamuestra">Fec. Muestra</label>
                                        {{form.fechamuestra}}                               
                                  </div> 
                                  <div class="form-group col-4">
                                        <label for="id_muestra">Muestra</label>
                                        {{form.muestra}}                               
                                  </div>                              
                            </div>
                            <div class="row">
                              <div class="form-group col-4">
                                        <label for="id_resultado">Resultado</label>
                                        {{form.resultado}}                               
                                  </div>
                                  <div class="form-group col-3">
                                        <label for="id_fecharesultado">Fecha Resultado</label>
                                        {{form.fecharesultado}}                               
                                  </div>
                            </div>
                            
                            <!-- <div class="row">
                                <div class="form-group col-8">
                                        <label for="id_lat">Usuarios</label>
                                        {{form.paciente}}                               
                                </div> 
                            </div> -->
                            
                             {# <!  {{form.as_p}}  -->                #}
                           
                           <div class="dropdown-divider"></div>
                             <div class="row">
                               <div class="col">
                                 <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span>Guardar</button>
                                <a class="btn btn-success" href="{% url 'lab:reportelab_list' %}">Cancelar</a>                               
                               </div>
                             </div> 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    </form>
  </div>
</div>

	
{% endblock page_content %}

{% block js_page %}

<script>
    $(document).ready(function () {
      $('#id_paciente').select2({
            ajax: {
                url: '{% url 'cvd:busqpac' %}',
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {id: item.id, text: item.identificacion +':'+ item.razonsocial};
                        })
                    };
                }
            },
            minimumInputLength: 1
        });
    });
</script>

<script>

$(function(){

  $("#id_fechamuestra, #id_fecharesultado").datetimepicker({
    format:'d/m/Y',
    timepicker:false
  });
         
 });

 </script> 
{% endblock js_page %}

