{% extends 'base/base.html' %}
{% block page_content %}
	  <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Reporte de laboratorios</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Acciones:</div>
                      <a class="dropdown-item"  href="{% url 'lab:reportelab_new' %}"> <span class="fa fa-calendar-plus"></span>Nuevo</a>                      
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  {% if not obj  %}
                        No hay Reporte de Laboratorios
                  {% endif %}
                   <div class="buttons-toolbar">
                    <a class="dropdown-item" href="{% url 'lab:reportelab_new' %}"> <span class="fa fa-calendar-plus"></span>Nuevo</a>
                  </div>

                  <table data-toggle="table"
                    data-pagination="true"
                    data-search="true"
                    data-show-columns="true"
                    data-toolbar=".buttons-toolbar"
                    data-locale="es-MX"
                    data-show-toggle="true"
                    data-show-fullscreen="true">
                    <thead>   
                      <th>Laboratorio</th> 
                      <th>Fecha Muestra</th>
                      <th>Muestra</th>                      
                      <th>Paciente</th>
                      <th>Tipo de Laboratorios</th> 
                      <th>Resultado</th> 
                      <th>Fecha resultado</th> 
                      <th class="all">Acciones</th> 
                    </thead>  
                    <tbody>
                      {% for item in obj %}
                        <tr>
                            <td>{{item.redlaboratorios}}</td>                            
                            <td>{{item.fechamuestra|date:"d/m/Y"}}</td>
                            <td>{{item.muestra}}</td>
                            <td>{{item.paciente}}</td>
                            <td>{{item.tipoexamen}}</td>
                            <td>{{item.resultado}}</td>
                            <td>{{item.fecharesultado|date:"d/m/Y"}}</td>
                            <td>
                              <a href="{% url 'lab:reportelab_edit' item.pk %}" class="btn btn-warning btn-circle"><i class="far fa-edit"></i></a>
                             
                              <button>
                                <i class="far fa-thumbs-down"></i>
                              </button>
                              
                            </td>
                          </tr>                   
                      {% endfor %}
                    </tbody>

                  </table>
                </div>
            </div>
{% endblock page_content %}

{% block js_page %}
 

 {% endblock %}
