{% extends 'base/basecvd.html' %}

{% block page_content %}


<div class="modal-dialog modal-lg">
  <div class="modal-content">
    {% if obj %}
    <form  method='POST' role='form' action = "{% url 'cvd:conglomerado_edit' obj.pk %}"> 
    {% else %}  
    <form  method='POST' role='form' action = "{% url 'cvd:conglomerado_new' %}">
    {% endif %}
        {% csrf_token %}
              <div class="col-xl-12 col-md-12 mb-12">
                {% if obj %}
                  <div class="card border-left-warning shadow h-100 py-2">
                {% else %}    
                  <div class="card border-left-success shadow h-100 py-2">
                 {%  endif %}   
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                              {% if obj %} Editar {% else %} Nuevo {% endif %} Conglomerado
                           </div>                      
                           <div class="dropdown-divider"></div> 
                            <div class="row">
                                  <div class="form-group col-5">
                                        <label for="id_tipoconglomerado">Categoría del Conglomerado</label>
                                        {{form.tipoconglomerado}}                               
                                  </div> 
                                  <div class="form-group col-7">
                                        <label for="id_descripcion">Descripción</label>
                                        {{form.descripcion}}                               
                                  </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-4">
                                        <label for="id_direccion">Dirección</label>
                                        {{form.direccion}}                               
                                  </div> 
                                  <div class="form-group col-5">
                                        <label for="id_nomreplegal">Representante Legal</label>
                                        {{form.nomreplegal}}                               
                                  </div>
                                  <div class="form-group col-3">
                                        <label for="id_telcontacto">Teléfono de contacto</label>
                                        {{form.telcontacto}}                               
                                  </div>
                              
                            </div>
                            <div class="row">
                                <div class="form-group col-3">
                                        <label for="id_lat">Latitud</label>
                                        {{form.lat}}                               
                                  </div> 
                                  <div class="form-group col-3">
                                        <label for="id_lon">Longitud</label>
                                        {{form.lon}}                               
                                  </div>
                              
                            </div>
                            <!-- <div class="row">
                                <div class="form-group col-8">
                                        <label for="id_lat">Usuarios</label>
                                        {{form.paciente}}                               
                                </div> 
                            </div> -->
                            
                             {# <!  {{form.as_p}}  -->                #}
                           
                           <div class="dropdown-divider"></div>
                             <div class="row">
                               <div class="col">
                                 <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span>Guardar</button>
                                <a class="btn btn-success" href="{% url 'cvd:conglomerado_list' %}">Cancelar</a>                               
                               </div>
                             </div> 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    </form>
  </div>
</div>

	
{% endblock page_content %}

