{% extends 'base/basecvd.html' %}

{% block page_content %}



    {% if obj %}
    <form  method='POST' role='form' action = "{% url 'cvd:contactopacnotif_edit' obj.pk %}"> 
    {% else %}  
    <form  method='POST' role='form' action = "{% url 'cvd:contactopacnotif_new' idnotifcong %}">
    {% endif %}
        {% csrf_token %}
              <div class="col-xl-12 col-md-12 mb-12">
                {% if obj %}
                  <div class="card border-left-warning shadow h-100 py-2">
                {% else %}    
                  <div class="card border-left-success shadow h-100 py-2">
                 {%  endif %}   
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                              {% if obj %} Editar {% else %} Nuevo {% endif %} Contacto : {{notifcong}}
                           </div>                      
                           <div class="dropdown-divider"></div> 
                            <div class="row">
                              <input type="hidden" name="notifPaConglomerado" value = "{{notifcong.pk}}">
                                  <div class="form-group col-4">
                                        <label for="id_paciente">Contacto</label>
                                        {{form.paciente}}     
                                  </div>
                                  <div class="form-group col-3">
                                        <label for="id_cargo">Cargo</label>
                                        {{form.cargo}}     
                                  </div>
                                  <div class="form-group col-2">
                                        <label for="id_edad">Edad</label>
                                        {{form.edad}}     
                                  </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-3">
                                        <label for="id_municipio">Municipio</label>
                                        {{form.municipio}}                               
                                  </div> 
                                  <div class="form-group col-3">
                                        <label for="id_eps">EPS</label>
                                        {{form.eps}}                               
                                  </div>
                                  <div class="form-group col-2">
                                        <label for="id_feciniaislamiento">F. Aislamiento</label>
                                        {{form.feciniaislamiento}}                               
                                  </div>
                                  
                                  <div class="form-group col-2">
                                        <label for="id_fechafinaislamiento">F. Finaliza Aislamiento</label>
                                        {{form.fechafinaislamiento}}                               
                                  </div>
                                  
                            </div>
                            <div class="row">
                                  <div class="form-group col-3">
                                        <label for="id_diasaislamiento">Cant. Días Aislamiento</label>
                                        {{form.diasaislamiento}}                               
                                  </div>

                                  <div class="form-group col-3">
                                        <label for="id_resultado">Val Medicina general por su EPS </label>
                                        {{form.valmedicagral}}                               
                                  </div>
                                  <div class="form-group col-2">
                                        <label for="id_aislaconincapacidad">Incapacidad?</label>
                                        {{form.aislaconincapacidad}}                               
                                  </div>
                            </div>
                            <div class="row">
                                  <div class="form-group col-2">
                                        <label for="id_requiereprueba">Requiere prueba</label>
                                        {{form.requiereprueba}}                               
                                  </div>
                                  <div class="form-group col-2">
                                        <label for="id_fechatomamuestra">F. Toma Muestra</label>
                                        {{form.fechatomamuestra}}                               
                                  </div>
                                  <div class="form-group col-2">
                                        <label for="id_resultado">Resultado</label>
                                        {{form.resultado}}                               
                                  </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                        <label for="id_motivo">Motivo de Aislamiento</label>
                                        {{form.motivo}}                               
                                </div> 
                                <div class="form-group col-6">
                                        <label for="id_descripcion">Descripción</label>
                                        {{form.descripcion}}                               
                                </div>                                   
                            </div>


                              {% if obj %}
                      
                      <div class="col-12" id="prueba"> {# Grilla de Seguimientos #}
                      <div class="row">
                        <h3>Seguimientos</h3>
                      </div>                    

                        <div class="buttons-toolbarcon">
                        <a class="dropdown-item" href="{% url 'cvd:segcontactopacnotif_new' obj.pk %}"> <span class="fa fa-calendar-plus"></span>Nuevo</a>
                       </div>

                        <table data-toggle="table"
                        data-pagination="true"
                        data-search="true"
                        data-show-columns="true"
                        data-toolbar=".buttons-toolbarcon"
                        data-locale="es-MX"
                        data-show-toggle="true"
                        data-show-fullscreen="true">
                        <thead>   
                          <th>Fecha</th>
                          <th>Sintomas</th>
                          <th>Tos</th>                      
                          <th>Fiebre</th>
                          <th>Odinofagia</th>
                          <th>Dif Respirar</th>
                          <th>Fatiga</th>
                          <th>Hospitalizado</th>                                                    
                          <th>Observación</th>                                                    

                          <th class="all">Acciones</th> 
                        </thead>  
                        <tbody>
                          {% for item in seguimiento %}
                            <tr>
                                <td>{{item.fecha|date:"d/m/Y"}}</td>                            
                                <td> {{item.sintomas}}</td>                         
                                <td> {{item.tos}}</td>                     
                                <td> {{item.Fiebre}}</td>
                                <td> {{item.odinofagia}}</td>
                                <td> {{item.dificultadrespirar}}</td>
                                <td> {{item.fatiga}}</td>
                                <td> {{item.hospitalizado}}</td>
                                <td> {{item.observacion}}</td>

                                <td>
                                  <a href="{% url 'cvd:segcontactopacnotif_edit' item.pk %}" class="btn btn-warning btn-circle"><i class="far fa-edit"></i></a>
                                </td>
                              </tr>                   
                          {% endfor %}
                        </tbody>

                      </table>                                     
                    </div> <!--fin contactos--> 
                    {% endif %}

                             {# <!  {{form.as_p}}  -->                #}
                           
                           <div class="dropdown-divider"></div>
                             <div class="row">
                               <div class="col">
                                 <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span>Guardar</button>
                                <a class="btn btn-success" href="{% url 'cvd:paconglomerado_edit' idnotifcong %}">Cancelar</a>                               
                               </div>
                             </div> 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    </form>

	
{% endblock page_content %}

{% block js_page %}

<script>


$(function(){

  $("#id_feciniaislamiento, #id_fechafinaislamiento, #id_fechatomamuestra").datetimepicker({
    format:'d/m/Y',
    timepicker:false
  });
  
    $('#id_paciente').select2({
      placeholder: "Seleccione un Paciente",
      allowClear: true
    });
       
 });

function inactivar(id)
  {
    var data={id:id};
    data= JSON.stringify(data);
    var token = "{{ csrf_token }}";
    //alert("data" + token);
    $.ajax({
      headers : {"X-CSRFToken":token},
      type:"POST",
      url:"con/emp/notifpac/"+id,
      data:data,
      success:function(response){
        if(response === "OK")
        {
          location.reload(true);
        }
        else
        {
          mensaje("Error intentando cambiar el estado del Cliente");
        }
      },
      error: function(jqXHR, textStatus, errorThrow){
        console.log(textStatus, errorThrow);
        mensaje(errorThrow,'red');
        cerrar_modal();
      }
    });
  }


 </script> 
{% endblock js_page %}
