{% extends 'base/basecvd.html' %}
 {% block page_content %}
	  <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Listado de Seguimiento IEC</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Acciones:</div>
                      <a class="dropdown-item" href="{% url 'cvd:iec_seguimiento_new' %}"> <span class="fa fa-calendar-plus"></span>Nuevo</a>
                      
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  {% if not obj  %}
                      No hay Seguimientos de Pacientes Covid
                  {% endif %}


                  <div class="buttons-toolbar">
                    <a class="dropdown-item" href="{% url 'cvd:iec_seguimiento_new' %}"> <span class="fa fa-calendar-plus"></span>Nuevo</a>
                   </div>

                  <table data-toggle="table"
                    data-pagination="true"
                    data-search="true"
                    data-show-columns="true"
                    data-toolbar=".buttons-toolbar"
                    data-locale="es-MX"
                    data-show-toggle="true"
                    data-show-fullscreen="true">
                    <thead>   
                      <th>Fecha</th>
                      <th>Ident</th>
                      <th>Nombres y Apellidos</th> 
                      <th>Teléfono</th>                                            
                      <th>Hallazgo</th> 
                      <th>Tipo de contacto</th>                       
                      <th class="all">Acciones</th> 
                    </thead>  
                    <tbody>
                      {% for item in obj %}
                        <tr>
                            <td>{{item.fecha|date:"d/m/Y"}}</td>                            
                            <td> {{item.fichaiec.paciente.tipodoc.codigo}}:{{item.fichaiec.paciente.identificacion}}</td>
                            <td>{{item.fichaiec.paciente.nombres}} {{item.fichaiec.paciente.apellido1}} {{item.fichaiec.paciente.apellido2}}</td>
                            <td>{{item.fichaiec.paciente.telefono}}</td>                    
                            <td>{{item.hallazgo}}</td>                            
                            <td>{{item.tipocontacto}}</td>                            
                            <td>
                              <a class="btn btn-warning btn-circle" href="{% url 'cvd:iec_seguimiento_edit' item.pk %}" ><i class="far fa-edit"></i></a>
                              <button>
                                <i class="far fa-thumbs-down"></i>
                              </button>
                              
                            </td>
                          </tr>                   
                      {% endfor %}
                    </tbody>

                  </table>
                </div>
            </div>
{% endblock page_content %}

{% block js_page %}


 {% endblock %}
