{% extends 'base/basecvd.html' %}

{% block page_content %}

<div class="modal-dialog modal-lg">
  <div class="modal-content">
 {% if obj %}
  <form  method='POST' role='form' action = "{% url 'cvd:seguimientocontacto_edit' obj.pk %}"> 
    {% else %}  
    <form  method='POST' role='form' action = "{% url 'cvd:seguimientocontacto_new' idcontacto %}">
    {% endif %}
        {% csrf_token %}

          <div class="col-xl-12 col-md-12 mb-12">
            <div class="card border-left-success shadow h-100 py-2">
                 <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                              Seguimiento a contactos                              
                           </div>                      
                           <div class="dropdown-divider"></div> 
                            <div class="row">
                              <label for="id_contactosiec">Contacto</label>                                
                              <input type="hidden" name="contactosiec" value="{{contactoiec.pk}}">
                                {{contactoiec.paciente}}
                              
                            </div>

                           <div class="dropdown-divider"></div> 

                            <div class="row">
                            	    <div class="form-group col-4">
                                        <label for="id_fecha">Fecha</label>
                                        <br>
                                        {{form.fecha}}                               
                                  </div>  
                                   <div class="form-group col-2">
                                        <label for="id_sintomatico">Sintomatico</label>
                                        <br>
                                        {{form.sintomatico}}                               
                                  </div>
                                  <div class="form-group col-2">
                                        <label for="id_tos">Tos</label>
                                        <br>
                                        {{form.tos}}                               
                                  </div>   
                                  <div class="form-group col-2">
                                        <label for="id_fiebre">Fiebre</label>
                                        <br>
                                        {{form.fiebre}}                               
                                  </div>                             
                            </div>   
                            <div class="row">
                                  <div class="form-group col-2">
                                        <label for="id_odinofagia">Odinofagia</label>
                                        <br>
                                        {{form.odinofagia}}                               
                                  </div>  
                                   <div class="form-group col-2">
                                        <label for="id_difrespirar">Dif. para respirar</label>
                                        <br>
                                        {{form.difrespirar}}                               
                                  </div>
                                  <div class="form-group col-2">
                                        <label for="id_adinamia">Adinamia</label>
                                        <br>
                                        {{form.adinamia}}                               
                                  </div>   
                                  <div class="form-group col-2">
                                        <label for="id_hospitalizado">hospitalizado</label>
                                        <br>
                                        {{form.hospitalizado}}                               
                                  </div>                             
                            </div>                      

                             {# <!  {{form.as_p}}  -->                #}
                           
                           <div class="dropdown-divider"></div>
                             <div class="row">
                               <div class="col">
                                 <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span>Guardar</button>

                                 <a class="btn btn-success" href="{% url 'cvd:contacto_detalle' contactoiec.pk %}">Cancelar</a>
                              
                               </div>
                             </div> 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  </form>
  </div>
</div>
	
{% endblock page_content %}

{% block js_page %}
<script>


$(function(){  
  $("#id_fecha").datetimepicker({
    format:'d/m/Y H:m:s',
    timepicker:true
  });


});
  
  </script>

  {% endblock js_page%}

