{% extends 'base/basepai.html' %}
{% block page_content %}
<div class="card-body">
<h1> Importar Rediarios </h1>
<form action="" method="POST" role='form' enctype="multipart/form-data">
    {% csrf_token %} 
		<div class="dropdown-divider"></div> 
        <div class="col-xl-6 col-md-12 mb-6">
           	<div class="dropdown-divider"></div> 
                <div class="row">
                     <div class="form-group col-4">
                         <label for="id_fecha">Fecha</label>
                           <br>
                              {{form.fecha}}                               
                          </div> 

                          <div class="form-group col-8">
                             <label for="id_periodo">Periodo</label>
                             <br>
                              {{ form.periodo }}                                    
                          </div>
                </div>
                <div class="row">
                	<div class="form-group col-12">
                      <label for="id_ips">Ips</label>
                        <br>
                         {{ form.ips }}                                    
                  </div>
                </div>
                <div class="row">
                	<div class="form-group col-12">
                    <label for="id_file_name">Archivo</label>
                     <br>
                      {{ form.file_name }}                                    
                  </div>
                </div>
                                  
                                  
                
     
        </div>
        
           <div class="barra">
       	  <div class="barra_azul" id="barra_estado"></div>
       	  <span></span>
       </div>
              
    <button type="submit" class="btn btn-primary">Importar</button>
</form>
</div>
	
{% endblock page_content %}

{% block js_page %}
<script>
	$('.custom-file-input').on('change', function(event) {
	    var inputFile = event.currentTarget;
	    $(inputFile).parent()
	        .find('.custom-file-label')
	        .html(inputFile.files[0].name);
	}); 

 $("#id_fecha").datetimepicker({
    format:'d/m/Y',
    timepicker:false
  });

	
</script>
{% endblock %}